{# default_frame.twgiを継承して共通のヘッダー、フッターを表示するにはdtb_page_layout に登録が必要 #}

<p id="summary_box__total_amount" class="total_price">合計 <strong class="text-primary">{{ Order.total|price }}<span class="small">税込</span></strong></p>
